{% extends 'blog/base.html' %}
{% block content %}
<section class="section">
	<div class="container">
		<div class="box scroll-x">
			<h2 class="title is-3">
				Users
			</h2>
			<table class="table is-striped">
				<thead>
					<tr>
						<th><abbr title="Position">Way</abbr></th>
                        <th><abbr title="Avatar">Avatar</abbr></th>
						<th><abbr title="Name">Name</abbr></th>
						<th><abbr title="Reg">Skill</abbr></th>
						<th><abbr title="Lvl">Level</abbr></th>
						<th><abbr title="Rating">Rating</abbr></th>
						<th><abbr title="Empty"></abbr></th>
					</tr>
				</thead>
				<tbody>
                    {% for user in users %}

					<tr>
						<th>1</th>
                        <td>
						    <figure class="image is-48x48">
							  <img class="is-rounded" src="{{user.img}}">
							</figure>
                        </td>
						<td><a href="{% url 'userprof' user_id=user.id %}" style="font-size:18px;">{{ user.name }}</a></td>
						<td> {% for urole in uroles %}{% if urole.user == user %} {{ urole.role }}{% endif %}{%endfor%}</td>
						<td>100</td>
						<td>25</td>
						<td><a href="{% url 'userprof' user_id=user.id %}" class="button is-info">Open Profile</a></td>
					</tr>

                    {%endfor%}
				</tbody>
			</table>
		</div>
	</div>
</section>
{% endblock %}
