@import "../node_modules/bulma/bulma.sass";

.navbar {
	padding: 1em 0;
}

.navbar.is-active {
	padding-bottom: 0; 
}

.brand-icon {
	margin-right: 0.5em;
}

.table {
	width: 100%;
}

.scroll-x {
	overflow-x: scroll !important;
}

.image > img {
	max-width: 100%;
	height: 100%;
}

tr th,
tr td {
	vertical-align: middle !important;
}
